<body>
  <div class="details-table">
  <input type="button" name="back" class="btn btn-info" value="Back to Login page" (click)="Back()">
  <br/><br/>
  <table class="table table-condensed fontColor" border="1">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Email ID</th>
          <th>Employee Name</th>
          <th>Mobile Number</th>
          <th>Role Name</th>
          <th>Project ID</th>
          <th>Project Name</th>
          <th>AE Email</th>
        </tr>
      </thead>
      <tbody>
        <tr class="success"> 
          <td><font *ngIf="emp?.empId">{{emp.empId}}</font></td>
          <td><font *ngIf="emp?.email_Id">{{emp.email_Id}}</font></td>
          <td><font *ngIf="emp?.ename">{{emp.ename}}</font></td>
          <td><font *ngIf="emp?.mobile">{{emp.mobile}}</font></td>
          <td><font *ngIf="emp?.roleName">{{emp.roleName}}</font></td>            
          <td><font *ngIf="emp?.projectId">{{emp.projectId}}</font></td>
          <td><font *ngIf="emp?.projectName">{{emp.projectName}}</font></td>
          <td><font *ngIf="emp?.ae_email_Id">{{emp.ae_email_Id}}</font></td>
        </tr>
      </tbody>
    </table>
    <br/>
    <input type="button" name="edit" class="btn btn-info" value="Edit my Details" (click)="showUpdateSection()">
 
  <div *ngIf="showListButton">
      <input type="button" name="employeeList" class="btn btn-info" value="list employees" (click)="getTeamMembers()">
  </div>
</div>
  <div *ngIf="showTeamList" class="showList">
      <app-listTeamMembers></app-listTeamMembers>
      <input type="button" name="hideTeamList" class="btn btn-info" value="Hide list of team members" (click)="toHideListSection()">
  </div>
  <div *ngIf="showEditDetails" class="showEdit">
      <app-updateDetails ></app-updateDetails>
      <input type="button" name="hideEditDetails" class="btn btn-info" value="Hide edit section" (click)="toHideEditSection()">
  </div>
    
</body>